.git
.github
.next
.yarn/cache
.yarn/install-state.gz
node_modules
data
client
**/dist
**/node_modules
.env
.env.local
.env.*.local
*.tsbuildinfo
README.md
PROGRESS.md
SECURITY_AUDIT.md
images
.eslintcache
